Source: kdenlive
Section: kde
Priority: optional
Maintainer: Patrick Matthäi <patrick.matthaei@web.de>
Homepage: http://www.kdenlive.org/
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 7), dpatch, cmake, ccache, kdelibs5-dev, libavc1394-dev, libmlt-dev, libmlt++-dev, libiec61883-dev, libavcodec-dev, libavformat-dev, libavdevice-dev, libavutil-dev
DM-Upload-Allowed: yes

Package: kdenlive
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: swh-plugins, dvgrab
Description: A Non-Linear Video Editing Suite for KDE
 Kdenlive! (pronounced Kay-den-live) is a Non-Linear Video Editing Suite for
 KDE environment running on Linux.
 .
 It is based on the MLT video framework which relies on the FFMPEG project.

Package: kdenlive-dbg
Architecture: any
Priority: extra
Depends: kdenlive (= ${binary:Version})
Description: A Non-Linear Video Editing Suite for KDE (dbg symbols)
 Kdenlive! (pronounced Kay-den-live) is a Non-Linear Video Editing Suite for
 KDE environment running on Linux.
 .
 It is based on the MLT video framework which relies on the FFMPEG project.
