Source: kdenlive
Section: kde
Priority: optional
Maintainer: Patrick Matthäi <patrick.matthaei@web.de>
Homepage: http://www.kdenlive.org/
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 7), dpatch, cmake, ccache, kdelibs5-dev, libavc1394-dev, libmlt-dev, libmlt++-dev, libiec61883-dev, libavcodec-dev, libavformat-dev, libavdevice-dev, libavutil-dev
DM-Upload-Allowed: yes

Package: kdenlive
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: swh-plugins, dvgrab
Description: a non-linear video editor
 Kdenlive is a non-linear video editing suite, which supports DV, HDC and much
 more formats.
 It main features are:
  Guides and marker for organizing timelines
  Copy and paste support for clips, effects and transitions
  Real time changes
  Firewire and Video4Linux capture
  Screen grabbing
  Exporting to any by FFMPEG supported forma

Package: kdenlive-dbg
Architecture: any
Priority: extra
Depends: kdenlive (= ${binary:Version})
Description: a non-linear video editor (debugging symbols)
 Kdenlive is a non-linear video editing suite, which supports DV, HDC and much
 more formats.
 It main features are:
  Guides and marker for organizing timelines
  Copy and paste support for clips, effects and transitions
  Real time changes
  Firewire and Video4Linux capture
  Screen grabbing
  Exporting to any by FFMPEG supported format
 .
 This package contains the debugging symbols for kdenlive.
