#!/usr/bin/make -f

include /usr/share/pkg-kde-tools/qt-kde-team/3/debian-qt-kde.mk

EXTRAFLAGS :=
ifeq ($(DEB_BUILD_ARCH_OS),kfreebsd)
	EXTRAFLAGS := -DNO_JOGSHUTTLE=YES
endif

override_dh_auto_configure:
	dh_auto_configure -- $(EXTRAFLAGS)

override_dh_strip:
	$(overridden_command) --dbgsym-migration='kgpg-dbg (<= 4:16.12.3)'
